<div id="primal_cut">
  <h1>Details for Primal Cut {{id}}</h1>
  <ul>
    <li>Name: {{name}}</li>
  </ul>
  <ul>
    {{#each cuts}}
      <li class="cut_name">{{name}}</li>
    {{/each}}
  </ul>
</div>
