body {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.delete_button {
  margin-left: 100px;
}

#company_header {
  border-bottom: 1px solid black;
}

table tr td:last-child {
  white-space: nowrap;
  width: 1px;
}

table td {
  padding: 3px;
}

table td a {
  font-size: 20px;
}

.add_buttons {
  margin-top: 7px;
}

.back_to_link {
  margin-top: 15px;
  margin-bottom: 15px;
}
