<div id="animal">
  <h1>Details for Animal {{id}}</h1>
  <ul>
    <li>Name: {{name}}</li>
  </ul>
  <ul>
    {{#each primalCuts}}
      <li class="primal_cut_name">{{name}}</li>
    {{/each}}
  </ul>
</div>
