<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="custom.css" rel="stylesheet">

<nav class="nav navbar-nav navbar-right" role="navigation">
  <ul class="nav navbar-nav"></ul>
    <li>{{#link-to 'users.show' 1}}Yuzu User{{/link-to}}</li>
    <li><a href="/">Home</a></li>
  </ul>
</nav>

<h1 id="company_header">The Butcher Shop</h1>

<div class="container-fluid">
  {{outlet}}
</div>
